{% extends "qa/base.html" %}

{% block content %}
  {% for e in form.non_field_errors %}
    <div class="alert alert-danger">{{ e }}</div>
  {% endfor %}
  <form method="post" action="{% url 'qa:ask'%}" autocomplete="off">
    {% csrf_token %}
    <fieldset>
      {% for field in form %}
        <div class="form-group
          {% if field.errors %} has-error {% endif %}">
          <label>{{ field.label }}</label>
          <div class="form-control">{{ field }}</div>
        </div>
      {% endfor %}
    </fieldset>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
{% endblock %}