{% extends "qa/base.html" %}

{% block content %}
  <form method="post" action="{% url 'qa:ask'%}" autocomplete="off">
    <fieldset>
      {% csrf_token %}
      {{ form.as_p }}
    </fieldset>
    <button type="submit">Сохранить</button>
  </form>
{% endblock %}



<!--   {% for e in form.non_field_errors %}
    <div class="alert alert-danger">{{ e }}</div>
  {% endfor %}
  <form method="post" action="{% url 'qa:ask'%}" autocomplete="off">
    {% csrf_token %}
    <fieldset>
      {% for field in form %}
        <div>
          <label>{{ field.label }}</label>
          <div>{{ field }}</div>
          <div>{{ field.errors }}</div>
        </div>
      {% endfor %}
    </fieldset>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form> -->